/.quarto/
final_project.ipynb
.env
STAT468-backup.git/config
STAT468-backup.git/description
STAT468-backup.git/HEAD
STAT468-backup.git/packed-refs
STAT468-backup.git/hooks/applypatch-msg.sample
STAT468-backup.git/hooks/commit-msg.sample
STAT468-backup.git/hooks/fsmonitor-watchman.sample
STAT468-backup.git/hooks/post-update.sample
STAT468-backup.git/hooks/pre-applypatch.sample
STAT468-backup.git/hooks/pre-commit.sample
STAT468-backup.git/hooks/pre-merge-commit.sample
STAT468-backup.git/hooks/pre-push.sample
STAT468-backup.git/hooks/pre-rebase.sample
STAT468-backup.git/hooks/pre-receive.sample
STAT468-backup.git/hooks/prepare-commit-msg.sample
STAT468-backup.git/hooks/push-to-checkout.sample
STAT468-backup.git/hooks/update.sample
STAT468-backup.git/info/exclude
STAT468-backup.git/objects/pack/pack-2e7b1bae84f1ae4c10b40694930aadaf2b3c8245.idx
STAT468-backup.git/objects/pack/pack-2e7b1bae84f1ae4c10b40694930aadaf2b3c8245.pack
